body {
    margin: 0;
  height: 100%;
  max-height: 100%;
  background-color: #fff
}
iframe { 
  height: 100vh;
  width: 100vw;
  max-height: 100%;
  border: 0; 
  position:absolute; top:0; left:0; right:0; bottom:0; width:100%; height:100%
}


.loading {
  text-align: center;
  margin: auto;
  font-size: 25px

}
.loading img {
  vertical-align: middle;
}
.outerloading {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.innerloading {
  display: table-cell;
  vertical-align: middle;
}


.app,.ui-content {
  background-color: #fff
}






.splash {
 text-align: center;
}


.splash img{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.scroll-wrapper {
	-webkit-overflow-scrolling: touch;
  	overflow-y: scroll;

	/* important:  dimensions or positioning here! */
}